/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body{
  border: 0px;
  padding: 0px;
  margin: 0px;
}

header{
  background-color: grey;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 25px;
}

header nav{
  display: inline;
  float: right;
}

main{
  display: inline-block;
  padding-top: 25px;
  height: 100vh;
  width: 100vw;
}

.grid-container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
}

.tree-nav{
  padding: 5px;
  grid-column: 1;
  grid-row: 1;
  border: 1px solid black;
}

.data-grid{
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 4fr 2fr 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.data-grid div{
  /* border: 1px solid black; */
  padding-left: 10px;
}

.general-info{
  grid-column: 1;
  grid-row: 1;
  position: relative;
}
.description{
  white-space: pre-wrap;
}
.edit-link{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  padding: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.npcs{
  grid-column: 2;
  grid-row: 1;
}

.npcs h4{
  text-decoration: underline;
  margin-top: 35px;
}

.public-notes{
  grid-column: 1 / span 2;
  grid-row: 2;
}

.dm-notes{
  grid-column: 3 / span 2;
  grid-row: 2;
}

.images{
  grid-column: 3 / span 2;
  grid-row: 1;
}

h1.user{

}

.model-list .title{
  font-size: 1em;
}
