/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body{
  background-color: #f0ebe4;
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-family: helvetica, sans-serif;
  font-size: 1em;
}

.application-grid{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px auto;
}
.header-grid{
  grid-column: 1;
  grid-row: 1;
}
.main-grid{
  grid-column: 1;
  grid-row: 2;
}

header{
  background-color: #4e3222;
  color: white;
  padding: 5px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
header a{
  color: white;
}
header a:visited{
  color: grey;
}


header nav{
  display: inline;
  float: right;
}

main{
  display: inline-block;
  height: 100%;
  width: 100%;
}

textarea{
  font-family: helvetica, sans-serif;
  font-size: 1em;
}

.grid-container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
}

div{
}

.tree-nav{
  background-color: #c27932;
  white-space: nowrap;
  overflow: scroll;
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  border: 1px solid black;
}
.tree-nav a{
  color: black;
  margin-right: 5px;
}
.tree-nav a:visited{
  color: #4e3222;
}

.edit_location{
  height: 100%;
}

.data-grid{
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr 4fr 2fr;
  grid-template-rows: 50px 1fr 30px 1fr;
}
.data-grid.display{
  grid-column: 2;
  grid-row: 1;
}
.data-grid div{
  position: relative;
  border: 1px solid black;
  padding: 5px 5px 0 10px;
}
.data-grid textarea{
  width: 100%;
  height: 100%;
}

h3{
  margin: 0px;
}

.general-header{
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: center;
}
.general-header h1{
  margin: 0px;
}

a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 3px;
  position: absolute;
  background-color: #8f7d6a;
}
.edit-link{
  left: 0px;
  top: 0px;
}
.add{
  left: 0px;
  bottom: 0px;
}
.delete-link{
  right: 0px;
  bottom: 0px;
}
.npc-edit-link{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 3px;
  /* top: 0px;
  right: 0px; */
}

.save-changes{
  background-color: green;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 3px;
  width: 70px;
  height: 24px;
}

.general-info{
  grid-column: 1;
  grid-row: 2;
  position: relative;
}
.description{
  white-space: pre-wrap;
}

.npc-list{
  grid-column: 2;
  grid-row: 2;
  position: relative;
}
.npc-list h4{
  text-decoration: underline;
  margin-top: 10px;
}
.npc-link{
  top: 0px;
  right: 0px;
}

.npc-display{
  grid-column: 3 / span 2;
  grid-row: 2;
  z-index: 100;
}

.public-header{
  grid-column: 1 / span 2;
  grid-row: 3 ;
}
.public-notes{
  grid-column: 1 / span 2;
  grid-row: 4 ;
}

.text-block{
  white-space: pre-wrap;
  margin-top: 3px;
  margin-left: 3px;
}

.dm-header{
  grid-column: 3 / span 2;
  grid-row: 3;
}
.dm-notes{
  grid-column: 3 / span 2;
  grid-row: 4;
}

.notes-field{
  height: 100%;
}

h1.user{

}

.model-list .title{
  font-size: 1em;
}









.form-grid{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 700px 1fr;
}
.fields{
  background-color: #d6a56d;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
.form-grid input{
  margin-bottom: 10px;
}
.form-grid textarea{
  background-color: white;
  width: 90%;
  height: 100px;
}
